body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #1a1a1b, #050707);
  margin: 0;
  padding: 0;
}

/* Slider */
.slider {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
  background: #000;
}

.slides {
  display: flex;
  height: 40vh;
  width: 100%;
  animation: slide 20s infinite;
}

.slide {
  flex: 0 0 100%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 { background-image: url("../assets/slide11.png"); }
.slide2 { background-image: url("../assets/slide22.jpg"); }
.slide3 { background-image: url("../assets/slide3.png"); }
.slide4 { background-image: url("../assets/slide4.jpg"); }
.slide5 { background-image: url("../assets/slide5.png"); }

@keyframes slide {
  0%,20% { transform: translateX(0); }
  25%,40% { transform: translateX(-100%); }
  45%,60% { transform: translateX(-200%); }
  65%,80% { transform: translateX(-300%); }
  85%,100% { transform: translateX(-400%); }
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 50px;
  color: #fff;
}

.hero-center {
  text-align: center;
  margin: 0 auto;
}

.hero-center h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-center h1 span {
  color: rgb(255, 179, 0);
}

.hero-desc {
  font-size: 18px;
  margin-top: 20px;
  color: rgb(210,210,210);
}

.hero-buttons {
  justify-content: center;
  margin-top: 35px;
  display: flex;
  gap: 20px;
}

/* Home button - same as Product button */
.btn-primary {
  background: linear-gradient(90deg, #4ec3ff, #fcbf49);
  color: #000;
  padding: 12px 25px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #ff6b6b, #4ec3ff);
  transform: scale(1.05) translateY(-2px);
  color: #fff;
}

.btn-primary::after {
  
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) translateX(0);
  transition: transform 0.3s ease-in-out;
}

.btn-primary:hover::after {
  transform: translateY(-50%) translateX(5px);
}

/* Responsive */
@media (max-width: 992px) {
  .hero-center h1 { font-size: 45px; }
  .hero-desc { font-size: 16px; }
}

@media (max-width: 768px) {
  .hero { padding: 70px 20px; }
  .hero-center h1 { font-size: 38px; }
}

@media (max-width: 480px) {
  .hero-center h1 { font-size: 28px; }
  .hero-desc { font-size: 14px; }
  .btn-primary { padding: 10px 20px; font-size: 14px; }
}
