/* .navbar {
  background-color: rgba(0, 0, 0, 0.24);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
} */
.navbar-toggler {
  border-color: white;
}
.navbar-toggler-icon {
  filter: invert(1); /* makes the default hamburger white */
}
.nav-item {
  margin: 0 10px; /* extra spacing between items */
}

.nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 18px;
}

.nav-link:hover {
  /* color: #dff9ff !important; */
  color: rgb(255, 179, 0) !important; /* highlight color */

}

.navbar-nav {
  text-align: center;
}


.logo
{
    height: 75px;  
    width: 70px;
    border-radius: 5px;
}